<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.com.HungryEnglish">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".HungryEnglish"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.Teacher.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".Activity.Admin.AdminTeacherList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Activity.Student.StudentProfileActivity" />
        <activity
            android:name=".Activity.Teacher.TeacherProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Teacher.TeacherListActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Activity.Admin.AdminDashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Student.StudentListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Admin.AddImageOrLinkActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.ForgotPassword" />
        <activity
            android:name=".Activity.Teacher.Contactus"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Admin.ReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Admin.RatingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Admin.ReportDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Admin.AdminMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Student.StudentDashboardActivity"
            android:screenOrientation="portrait" />

        <!--
          <service android:name=".MyFirebaseMessagingService">
              <intent-filter>
                  <action android:name="com.google.firebase.MESSAGING_EVENT" />
              </intent-filter>
          </service>

          <service android:name=".MyFirebaseInstanceIDService">
              <intent-filter>
                  <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
              </intent-filter>
          </service>
        -->


        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <!--
         <madminAddInfoDetaildata
             android:name="com.google.firebase.messaging.default_notification_icon"
             android:resource="@mipmap/ic_launcher" />
         &lt;!&ndash; Set color used with incoming notification messages. This is used when no color is set for the incoming
              notification message. See README(https://goo.gl/6BKBk7) for more. &ndash;&gt;
         <madminAddInfoDetaildata
             android:name="com.google.firebase.messaging.default_notification_color"
             android:resource="@color/colorAccent" />
        -->


        <!--
             <madminAddInfoDetaildata
             android:name="com.google.android.gms.version"
             android:value="@integer/google_play_services_version" />
        -->

        <activity android:name=".MapActivity"></activity>

        <service android:name=".Services.DownloadService" />

        <activity
            android:name=".Main2Activity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".Activity.TimePickerActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e9ea167ff0b78b83c9ac8d2c1db7cfe18599f786" />

        <activity android:name=".Activity.Admin.AdminAddInfo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>